@font-face {
  font-family: "MinionVariableConcept";
  src: url(multimedia/MinionVariableConcept-Roman.otf);
}

html, body {
  font-family: "MinionVariableConcept";
  font-size: 1.15rem;
  background-color: #EB8C31;
  color: #1A1A29;
}

.navbar-toggler {
  border-color: #1A1A29;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px rgba(26, 26, 41, 1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%231E291A' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link, .dropdown-item, .dropdown-menu, .list-group-item {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #EB8C31;
  color: #1E291A;
}

.dropdown-item.active {
  background-color: #EB8C31;
  color: #1A1A29;
}

.list-group-item.programming:nth-child(even), .container-fluid:nth-child(even) {
  background-color: #EBBD31;
}

.list-group-item.design:nth-child(even), .container-fluid:nth-child(odd) {
  background-color: #EBA731;
}

.nav-link:hover, .dropdown-item:hover, 
.nav-link:focus, .dropdown-item:focus,
.nav-link:active, .dropdown-item:active,
.list-group-item.design:hover {
  background-color: #EBBD31;
  color: #1E291A;
}

.list-group-item.programming:hover,
.list-group-item.programming:active {
  background-color: #EBA731;
  color: #1E291A;
}