body {
  font-family: "Minion Variable Concept", serif;
  font-size: 18px;
  background-color: #EB8C31;
  color: #1A1A29;
}
 
.nav-link, .dropdown-item, .dropdown-item:focus, 
.dropdown-menu, .list-group-item {
  font-weight: bold;
  background-color: #EB6D31;
  color: #1E291A;
}

.list-group-item:nth-child(even) {
  background-color: #EB8C31;
  color: #1E291A;
}

.list-group-item.design:nth-child(odd) {
  background-color: #EB4C31;
  color: #1E291A;
}

.navbar-toggler, .dropdown-item.active, .list-group-item.design:hover, .card.poster {
  background-color: #EB6D31;
  color: #1A1A29;
}

.nav-link:hover, .nav-link.dropdown-toggle.show, .dropdown-item:hover, 
.list-group-item.programming:hover, .card.logo {
  background-color: #EB4C31;
  color: #1A1A29;
}